body {
	padding-top: 50px;
}

.navbar {
	width: 100%;
}

.brand img {
	height: 100px;
	padding-bottom: 20px;
}

.container {
	padding: 0;
}

h1.brand {
	color: darkgreen;
	font-family: 'Lora', serif;
	font-size: 8em;
}

.product {
	width: auto;
	height: auto;
	border: 0px solid yellow;

}
.product-name {
	font-size: 1.5em;
	color: black;
	font-family: georgia, serif;
	display: block;
}

.product img {
	width: 300px;
	height: auto;
	display: block;
}

.logout-button {
	height: 80%;
	margin: 0;
	padding: 1px;
	font-size: 0.8em;
}

.jumbotron {
	background-image: url('jumbo.jpg');
	height: 500px;
	-moz-border-radius: 0px; 
	-webkit-border-radius: 0px; 
	border-radius: 0px;
}
