
.product {
	width: auto;
	height: auto;
	border: 0px solid yellow;

}
.product-name {
	font-size: 1.5em;
	color: black;
	font-family: georgia, serif;
	display: block;
}

.product img {
	width: 300px;
	height: auto;
	display: block;
}
